/* You can add global styles to this file, and also import other style files */
/*.ng-valid[required], .ng-valid.required  {*/
  /*border-left: 5px solid #42A948;*/
/*}*/

/*.ng-invalid:not(form)  {*/
  /*border-left: 5px solid #a94442;*/
/*}*/

body{
  background: url("https://www.planwallpaper.com/static/images/824183-green-wallpaper.jpg") no-repeat center center fixed ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
}
